.agencies-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 90%;
  margin: auto;
}
.agencies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.count-panel {
  background-color: rgb(151, 151, 151);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  margin-left: 20px;
}
